---
---

@import "{{ site.theme }}";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
}

/*h1 { margin-bottom: 1em; }*/
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  .header {
    font-family: 'Audiowide', cursive;
    font-size: 200%;  
    display: flex;
    align-items: center; 
    width: 100%;
    margin-bottom: 1em;
    position: relative;
    float: none;
    h1.title {
      margin: 0px;
      padding: 0px;
      display: inline-block;
      a {
        color: #a00;
      }
      
      a:hover {
        color: #000;
      }

    }
    a {
      font-weight: bold;
      text-decoration: none;
    }

    .nav-links {
      display: flex;
      flex-grow: 1; 
      padding-left: 20px;
      justify-content: space-between; 
      a.extra {
        color: #aaa;
        font-size: 52%;
      }
      a.extra:hover {
        color: #000;
      }
    }
  }

}


.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Images
/*
/*****************************************************************************/
.prompt {
  white-space: pre-wrap;
}



/*****************************************************************************/
/*
/* Twitter
/*
/*****************************************************************************/

.inline-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.inline-menu > * {
  flex: 1 1 20%; /* The basis is 25%, but it can grow or shrink */
  height: 60px; /* Fixed height for each li */
  display: flex; /* Makes each li a flex container */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  margin: 5px; /* Optional: Adds some space between the boxes */
  background-color: #f4f4f4; /* Background color for the list items */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.inline-menu a {
  width: 100%; /* Makes the anchor fill the entire li */
  height: 100%; /* Makes the anchor fill the entire li */
  display: flex; /* Makes the anchor a flex container */
  justify-content: center; /* Horizontally center the content within the anchor */
  align-items: center; /* Vertically center the content within the anchor */
  text-decoration: none;
  color: #333;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .inline-menu > * {
    flex-basis: 40%; /* Full width on small screens */
  }
}

