---
layout: default
title: Digiguru WebComics
paginate: true
---

<div id="home">
  <h1>Webcomics</h1>
  <p>For October 2023 I set myself a challange to make 1 webcomic a day using ChatGPT. I like the results.</p>
  <ul class="posts">
    {% for comic in site.data.comics %}
        <li>
        <img src="{{ comic.url }}" />
        <h1>{{comic.name}}</h1>
        {% if comic.likes %}
        <p>{{comic.likes}} likes</p>
        {% endif %}
        {% if comic.description %}
        <p>{{comic.description}}</p>
        {% endif %}
        </li>
    {% endfor %}

  </ul>


  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>  

</div>

