<ul class="inline-menu">
    {% for comic in site.data.comics %}
        {% assign comic_slug = comic | urlify %}
        {% if forloop.index == include.index %}
            <li class="disabled">
                {{ forloop.index }}
            </li>
        {% else %}
            <li>
                {% assign comic_path = '/comics/' | append: comic_slug %}
                <a href="{{ comic_path | relative_url }}" title="{{ comic.name }}">{{ forloop.index }}</a>
            </li>
        {% endif %}
       
    {% endfor %}
</ul>

