---
layout: default
comments: false
---


<div id="home">

    <br />
    <ul class="pagination inline-menu">
        {% if page.first_comic_url %}
            <li><a href="{{ page.first_comic_url }}" class="previous">First</a></li>
        {% else %}
        <li><span class="previous disabled">First</span></li>
        {% endif %}
        {% if page.prev_comic_url %}
        <li><a href="{{ page.prev_comic_url }}" class="previous">Previous</a></li>
        {% else %}
        <li><span class="previous disabled">Previous</span></li>
        {% endif %}
        {% if page.next_comic_url %}
        <li><a href="{{ page.next_comic_url }}" class="next">Next</a></li>
        {% else %}
        <li><span class="next disabled">Next</span></li>
        {% endif %}
        {% if page.last_comic_url %}
        <li><a href="{{ page.last_comic_url }}" class="previous">Most Recent</a></li>
        {% else %}
        <li><span class="previous disabled">Most Recent</span></li>
        {% endif %}
        
    </ul>  

    <h1>{{page.title}}</h1>
   
   
    
    <img src="{{ page.image }}" />
    <h1>{{page.name}}</h1>
    {% if page.likes %}
    <p>{{page.likes}} likes</p>
    {% endif %}
    {% if page.description %}
    <p>{{page.description}}</p>
    {% endif %}


    {% include comic-menu.html index=page.index %}

  </div>

  