<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title | default: site.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | escape }}">
        <link rel="canonical" href="{{ page.url | absolute_url }}">
        <link rel="icon" href="/images/logo.webp" type="image/webp">
        {% if page.url == '/' %}
        <link rel="preload" as="image" href="/images/logo.webp" type="image/webp" fetchpriority="high">
        {% endif %}
        {% if site.data.release.website_sha and site.data.release.presentation_sha %}
        <meta name="release-website-commit" content="{{ site.data.release.website_sha }}">
        <meta name="release-presentation-commit" content="{{ site.data.release.presentation_sha }}">
        <meta name="release-built-at" content="{{ site.data.release.built_at }}">
        <meta name="release-flag" content="w:{{ site.data.release.website_sha | slice: 0, 7 }} p:{{ site.data.release.presentation_sha | slice: 0, 7 }}">
        {% endif %}
        {% feed_meta %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" media="print" onload="this.media='all'">
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"></noscript>
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RZP8CG4KLJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RZP8CG4KLJ');
</script>
    </head>

    <body{% if site.data.release.website_sha and site.data.release.presentation_sha %} data-release="w:{{ site.data.release.website_sha | slice: 0, 7 }} p:{{ site.data.release.presentation_sha | slice: 0, 7 }}"{% endif %}>

        <div class="container">
          <div class="site">
          
            <header class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <nav class="nav-links" aria-label="Primary navigation">
                <a class="extra" href="/personal-growth" data-proofer-ignore>growth</a>
                <a class="extra" href="/tweets.html">tweets</a>
                <a class="extra" href="/comics/{{site.data.comics.last.name | slugify}}.html">webcomics</a>
                <a class="extra" href="/decks.html">decks</a>
              </nav>
            </header>

                {{ content }}

              
              
              <div id="disqus_thread"></div>
              
            <div class="footer">
              <div class="contact">
                <p>
                  Adam Hall<br />
                  AI Specialist<br />
                  digiguru@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="https://github.com/digiguru/">github.com/digiguru</a><br />
                  <a href="https://twitter.com/thedigiguru/">twitter.com/thedigiguru</a><br />
                </p>
              </div>
            </div>
            {% if site.data.release.website_sha and site.data.release.presentation_sha %}
            <p class="release-info">
              Release
              <a href="https://github.com/digiguru/digiguru.github.io/commit/{{ site.data.release.website_sha }}">w:{{ site.data.release.website_sha | slice: 0, 7 }}</a>
              ·
              <a href="https://github.com/digiguru/presentation/commit/{{ site.data.release.presentation_sha }}">p:{{ site.data.release.presentation_sha | slice: 0, 7 }}</a>
              ·
              <a href="{{ '/release.json' | relative_url }}">details</a>
            </p>
            {% endif %}
          </div>
        </div> <!-- /container -->

{% if page.comments %}
<script type="text/javascript">
var disqus_shortname = 'digigurucouk';
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
{% endif %}
  
    </body>
</html>
